# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*


# IDEA
.idea/*
.DS_Store

### 20210811 add
#!/.idea/mvnbook.iml
#!/.idea/workspace.xml
#!/.idea/modules.xml   避免分享该类文件
#!/.idea/misc.xml
#!/.idea/vcs.xml
